<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container" background="/css/Blog-background.png">



<nav class="user-nav">
    <a href="/home">Home</a> |
    <a href="/language">Quiz Topics</a> |
    <a href="/question">Question</a>  |
    <a href="/takeaquiz">Take A Quiz</a>   |
    <a href="/logout">Log Out</a>    |
    <p>Logged in as <span th:text="${user.username}"></span></p>
</nav>

<h1 th:text="${title}">Default Title</h1>

<!--<ul>
    <li th:each="cheese : ${menu.cheeses}" th:text="${cheese.name}"></li>
</ul>-->


<!--

<table class="table">

    <tr>
        <th>Question:</th>
        <th>Option 1:</th>
        <th>Option 2:</th>
        <th>Option 3:</th>
        <th>Option 4:</th>

    </tr>

    <tr th:each="question : ${questions}">
        <td th:text="${question.getQuiz()}"></td>
        <td th:text="${question.getChoice1()}"></td>
        <td th:text="${question.getChoice2()}"></td>
        <td th:text="${question.getChoice3()}"></td>
        <td th:text="${question.getChoice4()}"></td>


    </tr>

</table>
-->

<form action="#" method="post" th:action="@{/takeaquiz/result}" th:object = "${question}">
<ol>

  <div th:each="question : ${questions}">

      <li th:text="${question.getQuiz()}"></li>

      <input type="radio" th:name="${ question.getId() }" th:value= "${question.getChoice1()}" />
      <label th:for="${question.getChoice1()}" th:text="${question.getChoice1()}"></label>

        <input type="radio" th:name="${ question.getId() }" th:value= "${question.getChoice2()}"/>
        <label th:for="${question.getChoice2()}" th:text="${question.getChoice2()}"></label>

        <input type="radio" th:name="${ question.getId() }" th:value= "${question.getChoice3()}"/>
        <label th:for="${question.getChoice3()}" th:text="${question.getChoice3()}"></label>

      <input type="radio" th:name="${ question.getId() }" th:value= "${question.getChoice4()}" />
      <label th:for="${question.getChoice4()}" th:text="${question.getChoice4()}"></label>

     <!-- <input type="hidden" th:name="answers" th:value= "${question.getAnswer()}"/>
-->
  </div>
</ol>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>