<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<table class="table">

    <tr>
        <th>Name :</th>

    </tr>

    <tr th:each="makeaquiz : ${makeaquizs}">
        <td th:text="${makeaquiz.subjectName}"></td>

    </tr>

</table>
<a th:href="@{/makeaquiz/add}">Add Subject</a>
</body>
</html>