<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1 th:text="${title}">Default Title</h1>
<!--<nav th:replace="fragments :: navigation"></nav>-->
<nav class="user-nav">
    <a href="/home">Home</a> |
    <a href="/language">Quiz Topics</a> |
    <a href="/question">Quiz Questions</a>  |
    <a href="/takeaquiz">Take A Quiz</a>   |
    <a href="/logout">Log Out</a>    |
    <p>Logged in as <span th:text="${user.username}"></span></p>
</nav>


<h1 th:text="${quizName}"></h1>
<ul>
    <li th:each ="quiz : ${quizes}" th:text="${quiz}"></li>
</ul>


<a th:href="@{/home/add}">Add</a>
</body>
</html>